body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
footer{
    background-color:#2E2F42;
    color: #f4f4fd;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
}
.secondpart{
    color: #2e2f42;
}
.secondpart:hover, .secondpart:focus{
    color: #404bbf;
}
.logo:hover, .logo:focus{
    color: #404bbf;
}

.menu{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu:hover, .menu:focus{
    color: #404bbf;
}
.contacts{
    font-style: normal;
    color: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts:hover, .contacts:focus{
    color: #404bbf;
}
.solutions{
    background-color: #2E2F42;}
    .title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    }
    .order{
    font-family: "Roboto", sans-serif;    
    color:#fff;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    }
    .order:hover, .order:focus{
    background-color: #404BBF;
    }
    .features-list{
    background-color: #FFFFFF;
    }
    .features{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .list{
    background-color: #FFFFFF;
    }
    .team{
    background-color: #F4F4FD;
    }
    .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    }
    .name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .portfolio-list{
    background-color: #FFFFFF;
        
    }
    .description{
    line-height: 1.5;
    letter-spacing: 0.02em;
    }                        
    .appname {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;}
    .whitepart{
    color:#F4F4FD;
    }
    .whitepart:hover, .whitepart:focus{
    color: #404bbf;
    }
    .footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
        